export INFLUXDB_USERNAME=loglog
export INFLUXDB_PASSWORD=loglogpass
export INFLUXDB_ADMIN_USER_TOKEN=loglogsometoken
export INFLUXDB_ORG=loglog-org
export INFLUXDB_BUCKET=loglog
export INFLUXDB_TOKEN=loglogsometoken

export PROD_INFLUXDB_URL=https://europe-west1-1.gcp.cloud2.influxdata.com
export PROD_INFLUXDB_ADMIN_USER_TOKEN="c77KOWW1kSL3JXK7SO81flrRE2gMy-lcaeI1FV5MSZr-SdekrqnrslsOHQz5gDp1Ki0Foon0USnUFUY_K2hCcw=="
export PROD_INFLUXDB_ORG=f67717148487b675
export PROD_INFLUXDB_BUCKET=loglog-production

export GH_PROD_DOCKER_TOKEN=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

export PROD_REDIS_DATABASE=redis-15902.c280.us-central1-2.gce.cloud.redislabs.com:15902
export PROD_REDIS_URL=redis-15902.c280.us-central1-2.gce.cloud.redislabs.com:15902
export PROD_REDIS_TOKEN=c8aNhYr4oJw0NY9995G4W6N75D9QFbVH

use_nix
